
@model List<Items> 

<table class="table table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Price</th>
			<th class="action">Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var obj in Model.OrderBy(u => u.Id))
		{
			<tr>
				<td>@obj.Id</td>
				<td>@obj.Name</td>
				<td>@obj.Price</td>
				<td class="action"><button class="btn btn-warning">Edit</button> <button class="btn btn-danger">Delete</button></td>
			</tr>
		}		
	</tbody>
</table>